#page-anhouse {
  .visual-wrap {
    background: linear-gradient(180deg, #f4f1ef 0%, #f2e8db 100%);

    .design-data {
      .data-list {
        .data-item {
          color: #333;
          .name {
            span {
              &.round {
                background: #d3a03f;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .design-img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-mockup {
      img {
        width: 880px;
      }
    }
    img {
      display: block;
      margin: 0;
      width: 100%;
    }
  }
}
