#page-another {
  .visual-wrap {
    background: linear-gradient(180deg, #fff 0%, #dcdcdc 100%);

    .design-data {
      .data-list {
        .data-item {
          color: #333;
          .name {
            span {
              &.round {
                background: #333;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .intro-text-wrap {
    padding-bottom: 140px;
  }
  .design-img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 0;
    width: 100%;
    &.bg {
      background-color: #f5f6f8;
    }
    .small-tag {
      font-weight: 600;
      color: #8e8e8e;
    }
    .company-name {
      padding-top: 10px;
      font-size: 32px;
      font-weight: 500;
    }
    .hashtag {
      padding-top: 50px;

      .tag-item {
        padding: 12px 24px;
        border: 1px solid #333;
        border-radius: 30px;
        &.point {
          border: 0;
          color: #fff;
        }
        &:not(:first-child) {
          margin-left: 12px;
        }
      }
    }
    .design-img {
      margin-top: 70px;
      img {
        display: block;
        margin: 0;
      }
    }
  }
}
