header {
  .header-wrap {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    max-width: 1920px;
    min-width: 1400px;
    .logo {
      position: absolute;
      top: 50px;
      z-index: 99999;
      width: 174px;
      height: 20px;
      background-image: url(../images/logo.svg);
      background-repeat: no-repeat;
      a {
        display: block;
        width: 174px;
        height: 20px;
        cursor: pointer;
      }
    }

    .menu {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99999;
      width: 100%;
      visibility: hidden;
      &--active {
        visibility: visible;
      }

      .menu__list {
        overflow: hidden;
        display: flex;
        flex-flow: column wrap;
        align-items: left;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transform: translate3d(0, -100%, 0);
        transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
        &--active {
          transform: translate3d(0, 0, 0);
        }
        .menu__item {
          margin-left: 60%;
          padding-bottom: 50px;
          transform: translate3d(200px, 0, 0);
          transition: all 0.9s cubic-bezier(0.23, 1, 0.32, 1);
          transition-delay: 0.1s;
          vertical-align: top;
          &--active {
            transform: translate3d(0, 0, 0);
          }
          .menu__link {
            display: inline-block;
            position: relative;
            transition: 0.3s;
            padding-bottom: 2px;
            padding-left: 2px;
            font-size: 17px;
            font-weight: 300;
            color: #222;
            transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
            &:hover {
              &:before {
                width: 100%;
              }
              &:after {
                width: 100%;
              }
            }
            &:after {
              position: absolute;
              bottom: -5px;
              left: 0;
              content: "";
              width: 0;
              height: 2px;
              background-color: #2684c0;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}

footer {
  position: relative;
  width: 100%;
  max-width: 1920px;
  min-width: 1400px;
  border-top: 1px solid #ccc;
  .foot-wrap {
    margin: 0 auto;
    width: 1400px;
    padding: 100px 0;
    .contact {
      ul {
        li {
          display: block;
          margin-top: 60px;
          .title {
            display: block;
            font-size: 18px;
            font-weight: 300;
            color: #757575;
          }
          .name {
            display: block;
            padding-top: 20px;
            font-size: 24px;
            font-weight: 500;
            color: #454545;
          }
          :not(:first-child) {
            margin-top: 0px;
          }
        }
      }
    }
    .top-btn {
      position: absolute;
      top: 10%;
      right: 14%;
      z-index: 9999;
      width: 60px;
      height: 60px;
      background: #555d6c;
      border-radius: 50%;
      box-shadow: 2px 2px 2px #31363e;
      span {
        display: block;
        color: #fff;
        font-size: 12px;
        &::before {
          content: "";
          display: block;
          margin: auto;
          width: 18px;
          height: 14px;
          background: url("../images/arrowup.png") no-repeat center;
          background-size: 100%;
        }
      }
    }
  }
}
