html {
  scroll-behavior: smooth;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #333;
  .slogan-title {
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    span {
      font-weight: 600;
    }
  }
  .summary {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 150%;
  }
}
#page-main {
  margin: 0 auto;
  width: 100%;
  max-width: 2000px;
  min-width: 1400px;

  .intro-wrap {
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 850px;
    max-width: 2000px;
    min-width: 1400px;
    background: var(
      --linear,
      linear-gradient(180deg, #5d87da 0%, #807efa 100%)
    );
    .intro-contents {
      position: absolute;
      bottom: 0;
      .intro-text {
        text-align: center;
        font-size: 56px;
        font-weight: 200;
        line-height: 150%;
        color: #fff;
        span {
          font-weight: 700;
        }
      }
      .intro-img {
        margin-top: 100px;
        img {
          max-width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
  .keyword-wrap {
    margin: 0 auto;
    padding: 140px 0;
    width: 1400px;

    .keyword-img {
      display: flex;
      justify-content: center;
      margin-top: 80px;
      img {
        display: block;
      }
    }
  }

  .career-wrap {
    padding: 140px 0;
    color: #fff;
    background-color: #3c4258;
    .slogan-title {
      color: #fff;
    }
    .career-container {
      margin: 0 auto;
      margin-top: 120px;
      display: flex;
      width: 1400px;
      .career-main {
        .sub-title {
          font-size: 16px;
          font-weight: 600;
          color: #a0ddff;
        }
        .company-name {
          padding-top: 12px;
          font-size: 32px;
          font-weight: 600;
        }
        .category-contents {
          .category-list {
            display: block;
            li {
              margin: 0;
              display: inline-block;
              font-size: 16px;
              font-weight: 300;
              padding: 10px 20px;
              border: 1px solid #fff;
              border-radius: 30px;
            }
            :not(:last-child) {
              margin-right: 10px;
            }
          }
          :nth-child(1) {
            margin-top: 32px;
          }
          :nth-child(2) {
            margin-top: 12px;
          }
        }
      }
      .career-history {
        margin-left: auto;
        margin-top: 40px;
        width: 660px;
        .history-list {
          margin: 0;
          padding: 20px 0;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          li {
            margin: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            span {
              font-size: 18px;
              font-weight: 300;
              line-height: 150%;
            }
          }
          li:not(:first-child) {
            padding: 0;
            margin-top: 36px;
          }
          :nth-child(2) {
            font-weight: 600;
          }
        }
      }
    }
  }

  .portfolio-wrap {
    padding-top: 140px;
    width: 100%;
    max-width: 2000px;
    min-width: 1400px;
    .title {
      width: 1400px;
      margin: 0 auto;
      img {
        display: block;
      }
    }
    .content-top,
    .content-bottom {
      display: flex;
      .content-item {
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        background: #333;
        font-size: 19px;
        cursor: pointer;
        &:hover {
          color: #fff;
          opacity: 1;
          img {
            opacity: 0.3;
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
          }
          .inner-text {
            opacity: 1;
          }
        }
        a {
          display: block;
          img {
            display: block;
            width: 100%;
            opacity: 1;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
          }
          .inner-text {
            position: absolute;
            top: 43%;
            text-align: center;
            left: 50%;
            font-weight: 300;
            transform: translateX(-50%);
            color: #fff !important;
            opacity: 0;
            p {
              &:nth-child(1) {
                padding-bottom: 20px;
                font-size: 19px;
                font-weight: 500;
              }
              &:nth-child(2) {
                padding: 8px 0;
                width: 200px;

                border: 1px solid #fff;
                &:hover {
                  background: rgba(255, 255, 255, 0.5);
                  border: 1px solid #ccc;
                  -webkit-transition: all 0.6s ease-in-out;
                  transition: all 0.6s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }
}
