html {
  scroll-behavior: smooth;
}
html.body {
  position: relative;
  width: 100%;
}
#page-main {
  margin: 0 auto;
  width: 100%;
  max-width: 2000px;
  min-width: 1400px;

  .intro-wrap {
    overflow: hidden;
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-width: 2000px;
    min-width: 1400px;
    background: var(
      --linear,
      linear-gradient(180deg, #5d87da 0%, #807efa 100%)
    );
    .intro-contents {
      .intro-text {
        text-align: center;
        font-size: 50px;
        font-weight: 200;
        line-height: 150%;
        color: #fff;
        span {
          font-weight: 700;
        }
      }
      .intro-img {
        margin-top: 120px;
      }
    }
  }
  .my-profile {
    margin: 0 auto;
    padding-top: 140px;
    width: 1400px;
    h2 {
      img {
        display: block;
      }
    }
    .profile-wrap {
      display: flex;
      flex-direction: column wrap;

      .my-info {
        display: flex;
        &::after {
          content: "";
          display: inline-block;
          margin-left: 50px;
          width: 1px;
          height: 540px;
          background: #ccc;
        }
        .info-list {
          &::before {
            content: "";
            display: block;
            width: 348px;
            height: 438px;
            background: url("../images/profile_img.jpg") no-repeat;
          }
          .list-item {
            display: block;
            font-weight: 400;
            &:nth-child(1) {
              padding-top: 20px;
            }
            &:not(:first-child) {
              padding-top: 4px;
            }

            span {
              line-height: 1.5;
              &:nth-child(1) {
                font-weight: 600;
                width: 70px;
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .profile-contents {
      display: flex;
      float: left;
      margin-left: 50px;
      .profile-title {
        display: block;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.5;
      }
      .work-edu {
        .career-wrap {
          .career-list {
            margin-top: 20px;

            // &:nth-of-type(2) {
            //   margin-top: 30px;
            // }
            .term {
              padding-left: 12px;
              position: relative;
              display: block;
              font-size: 18px;
              font-weight: 500;

              &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: 0;
                width: 4px;
                height: 4px;
                background: #333;
                border-radius: 50%;
              }
            }
            .career {
              display: block;
              padding-left: 12px;
              margin-top: 10px;
              font-weight: 400;
              line-height: 1.5;
              color: #666;
            }
          }
        }
        .edu-wrap {
          margin-top: 40px;
          .edu-list {
            margin-top: 10px;
            .list-item {
              display: block;
              color: #666;
              &:not(:first-child) {
                padding-top: 8px;
              }
              &::before {
                content: "-";
                margin-right: 8px;
              }
            }
          }
        }
      }
      .keyword {
        margin-left: 100px;
        img {
          margin-top: 40px;
        }
      }
    }
    // &::after {
    //   content: "";
    //   display: block;
    //   clear: both;
    // }
  }
  .my-skill {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    padding-top: 140px;
    .title {
      img {
        display: block;
      }
    }
    .summary {
      margin-top: 30px;
      font-size: 18px;
      color: #333;
    }
    .skill-wrap {
      display: flex;
      .skill-list {
        flex-grow: 1;
        padding-top: 40px;
        .list-item {
          position: relative;
          margin-top: 30px;
          padding-left: 78px;
          height: 48px;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            height: 48px;
            background: url(../images/skill_ico.png) no-repeat;
          }
          .list-name {
            display: block;
            padding-top: 4px;
            font-weight: 600;
          }
          .list-gage {
            margin-top: 10px;
            span {
              display: inline-block;
              width: 30px;
              height: 4px;

              &.full {
                background: #4d6184;
              }
              &.empty {
                background: #ccc;
              }
            }
          }
        }
        &:nth-of-type(1) {
          .list-item {
            &:nth-child(1) {
              &::before {
                background-position: 0 calc(-48px * 3);
              }
            }
            &:nth-child(2) {
              &::before {
                background-position: 0 calc(-48px * 2);
              }
            }
            &:nth-child(3) {
              &::before {
                background-position: 0 calc(-48px * 5);
              }
            }
          }
        }
        &:nth-of-type(2) {
          .list-item {
            &:nth-child(1) {
              &::before {
                background-position: 0 calc(-48px * 1);
              }
            }
            &:nth-child(2) {
              &::before {
                background-position: 0 calc(-48px * 4);
              }
            }
            &:nth-child(3) {
              &::before {
                background-position: 0 calc(-48px * 6);
              }
            }
          }
        }
        &:nth-of-type(3) {
          .list-item {
            &:nth-child(1) {
              &::before {
                background-position: 0 0;
              }
            }
            &:nth-child(2) {
              &::before {
                background-position: 0 calc(-48px * 7);
              }
            }
            &:nth-child(3) {
              &::before {
                background-position: 0 calc(-48px * 8);
              }
            }
          }
        }
      }
    }
  }
  .portfolio-wrap {
    padding-top: 140px;
    width: 100%;
    max-width: 2000px;
    min-width: 1400px;
    .title {
      width: 1400px;
      margin: 0 auto;
      img {
        display: block;
      }
    }
    .content-top,
    .content-bottom {
      display: flex;
      .content-item {
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        background: #333;
        font-size: 19px;
        cursor: pointer;
        &:hover {
          color: #fff;
          opacity: 1;
          img {
            opacity: 0.3;
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
          }
          .inner-text {
            opacity: 1;
          }
        }
        a {
          display: block;
          img {
            display: block;
            width: 100%;
            opacity: 1;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
          }
          .inner-text {
            position: absolute;
            top: 43%;
            text-align: center;
            left: 50%;
            font-weight: 300;
            transform: translateX(-50%);
            color: #fff !important;
            opacity: 0;
            p {
              &:nth-child(1) {
                padding-bottom: 20px;
                font-size: 19px;
                font-weight: 500;
              }
              &:nth-child(2) {
                padding: 8px 0;
                width: 200px;

                border: 1px solid #fff;
                &:hover {
                  background: rgba(255, 255, 255, 0.5);
                  border: 1px solid #ccc;
                  -webkit-transition: all 0.6s ease-in-out;
                  transition: all 0.6s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }
}
