#page-mijin {
  .visual-wrap {
    background: linear-gradient(180deg, #fdfdfd 0%, #d1d5df 100%);

    .design-data {
      .data-list {
        .data-item {
          color: #333;
          .name {
            span {
              &.round {
                background: #283f57;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .design-img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    img {
      display: block;
      margin: 0;
    }
  }
}
