@import "./font";
body,
section,
main,
p,
ul,
li,
div,
h1,
h2,
h3,
h4,
h5,
img {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: 400;
}

body {
  width: 100%;
  height: 100%;
  color: #333;
}

img {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #333;
  font-weight: 500;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
