.sub-page {
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  max-width: 1920px;
  min-width: 1400px;
  .visual-wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    min-height: 850px;
    max-height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    img {
      margin: 0;
    }
    .design-data {
      margin-top: 40px;
      padding-bottom: 60px;
      .data-list {
        display: flex;
        .data-item {
          &:not(:first-child) {
            margin-left: 50px;
          }
          display: flex;
          flex-direction: column;
          align-items: center;

          .title {
            font-size: 16px;
            font-weight: 300;
          }
          .name {
            padding-top: 20px;
            font-size: 0;
            letter-spacing: 0;
            word-spacing: 0;
            &.work {
              font-size: 20px;
              font-weight: 600;
              line-height: 180%;
            }
            span {
              display: inline-block;
              &.round {
                &:not(:first-child) {
                  margin-left: 10px;
                }
                padding: 10px 20px;
                font-size: 16px;

                border-radius: 30px;
              }
              &.icon {
                &:not(:first-child) {
                  margin-left: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  .intro-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    width: 1400px;
    margin: 0 auto;

    .small-tag {
      font-size: 18px;
      font-weight: 700;
      color: #317499;
    }
    .slogan-title {
      margin-top: 16px;
    }
    .description {
      margin-top: 50px;
      line-height: 160%;
    }
  }
  .design-img-wrap {
    margin: 0 auto;
    padding: 140px 0;
    width: 1400px;
    .main-mockup {
      margin-bottom: 90px;
    }
  }
  .design-bg {
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 1920px;
    }
  }
}
.portfolio-wrap {
  padding: 140px 0;
  width: 1400px;
  min-width: 1400px;
  margin: 0 auto;
  .work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;
    .work-item:nth-child(n + 4) {
      margin-top: 60px;
    }
    .work-item {
      position: relative;
      overflow: hidden;

      .item-img:hover {
        opacity: 1;
        background-color: #333;
        img {
          opacity: 0.5;
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
        }
        .inner-text {
          opacity: 1;
          color: #fff;
        }
      }
      .item-img {
        position: relative;
        overflow: hidden;
        width: 448px;
        border-radius: 24px;
        cursor: pointer;
        a {
          display: block;
          img {
            display: block;
            opacity: 1;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
          }
          .inner-text {
            opacity: 0;
            display: block;
            position: absolute;
            top: calc(50% - 30px);
            left: calc(50% - 50px);
            width: 94px;
            height: 89px;
            background-image: url(../images/icon_moreview.png);
            background-repeat: no-repeat;
          }
        }
      }
      .text-area {
        .work-title {
          display: inline-block;
          padding-top: 24px;
          font-size: 28px;
          font-weight: 500;
          line-height: 30px;
          .contribute {
            vertical-align: top;
            margin-left: 16px;
            padding: 6px 14px;
            font-size: 16px;
            font-weight: 300;
            color: #f5f5f5;
            border-radius: 50px;
            line-height: 30px;
            background: linear-gradient(90deg, #5d87da 0%, #807efa 100%);
          }
        }
        .work-summary {
          display: block;
          padding-top: 16px;
          font-size: 20px;
          color: #757575;
        }
      }
      &.grayscale {
        .item-img {
          pointer-events: none;
          img {
            filter: grayscale(100%);
            transform: none;
          }
        }
      }
    }
  }
}
