#page-ttmik {
  .visual-wrap {
    background: linear-gradient(180deg, #c4c3f0 0%, #8087c8 100%);
    .design-data {
      .data-list {
        .data-item {
          color: #fff;
          .name {
            span {
              &.round {
                background: #656480;
              }
            }
          }
        }
      }
    }
  }

  .design-img-wrap {
    img {
      display: block;
      margin: 0;
    }
  }
}
