header {
  .header-wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 2000px;
    min-width: 1400px;

    .logo {
      position: absolute;
      margin: 0;
      top: 30px;
      left: 5%;
      width: 156px;
      height: 42px;
      z-index: 9999;
      cursor: pointer;
      a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
    .menu-wrap {
      .menu-list {
        position: absolute;
        z-index: 9999;
        right: 9%;
        top: 30px;
        font-size: 0;
        .menu-item {
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          transition: 0.5s;
          &:not(:first-child) {
            margin-left: 70px;
          }
          &:hover {
            color: #4d6184;
          }
        }
      }
      .drawer-menu {
        position: absolute;
        z-index: 999999;
        right: 4%;
        top: 30px;
        margin-left: 70px;
        cursor: pointer;
        transform: rotateX(0);
        transition: all 0.9s cubic-bezier(0.23, 1, 0.32, 1);
        span {
          display: block;
          width: 32px;
          height: 2px;
          transition: all 0.9s cubic-bezier(0.23, 1, 0.32, 1);
          &:not(:first-child) {
            margin-top: 6px;
          }
        }
        &--close {
          transform: rotate(180deg);
          span {
            background: #222;
            box-shadow: none;
            &:nth-child(1) {
              transform: rotate(45deg) translate(6px, 10px);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: rotate(-45deg) translate(0px, -6px);
            }
          }
        }
      }
    }

    .menu {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99999;
      width: 100%;
      visibility: hidden;
      &--active {
        visibility: visible;
      }

      .menu__list {
        overflow: hidden;
        display: flex;
        flex-flow: column wrap;
        align-items: left;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transform: translate3d(0, -100%, 0);
        transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
        &--active {
          transform: translate3d(0, 0, 0);
        }
        .menu__item {
          margin-left: 60%;
          padding-bottom: 50px;
          transform: translate3d(200px, 0, 0);
          transition: all 0.9s cubic-bezier(0.23, 1, 0.32, 1);
          transition-delay: 0.1s;
          vertical-align: top;
          &--active {
            transform: translate3d(0, 0, 0);
          }
          .menu__link {
            display: inline-block;
            position: relative;
            transition: 0.3s;
            padding-bottom: 2px;
            padding-left: 2px;
            font-size: 17px;
            font-weight: 300;
            color: #222;
            transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
            &:hover {
              &:before {
                width: 100%;
              }
              &:after {
                width: 100%;
              }
            }
            &:after {
              position: absolute;
              bottom: -5px;
              left: 0;
              content: "";
              width: 0;
              height: 2px;
              background-color: #2684c0;
              transition: 0.3s;
            }
          }
        }
        #menu02:hover ~ #img_secti {
          background: url(../images/menu_img02.jpg) no-repeat center;
        }
        #menu03:hover ~ #img_secti {
          background: url(../images/menu_img03.jpg) no-repeat center;
        }
        #menu04:hover ~ #img_secti {
          background: url(../images/menu_img04.jpg) no-repeat center;
        }
        #menu05:hover ~ #img_secti {
          background: url(../images/menu_img05.jpg) no-repeat center;
        }
        #menu06:hover ~ #img_secti {
          background: url(../images/menu_img07.jpg) no-repeat center;
        }
        #menu07:hover ~ #img_secti {
          background: url(../images/menu_img06.jpg) no-repeat center;
        }
        #img_secti {
          position: absolute;
          left: 0;
          width: 50%;
          height: 100%;
          background: url(../images/menu_img01.jpg) no-repeat center;
          box-sizing: border-box;
          transition: all 0.6s ease-in-out;
        }
      }
    }
  }
  &.light-bg {
    .logo {
      a {
        background: url(../images/logo.png) no-repeat;
      }
    }
    .drawer-menu {
      span {
        background: #454545;
      }
    }
  }
  &.dark-bg {
    .logo {
      a {
        background: url(../images/logo_w.png) no-repeat;
      }
    }
    .drawer-menu {
      span {
        background: #ccc;
      }
    }
  }
}

footer {
  margin: 0 auto;
  width: 100%;
  max-width: 2000px;
  min-width: 1400px;
  .foot-wrap {
    position: relative;
    padding: 60px 0;
    background: #3c424d;
    .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        display: block;
        font-size: 24px;
        font-weight: 300;
        color: #fff;
      }
      ul {
        margin-top: 20px;
        li {
          display: inline-block;
          margin-right: 20px;
          font-size: 14px;
          font-weight: 300;
          color: #ccc;
          span {
            font-weight: 500;
            margin-right: 10px;
            color: #fff;
          }
        }
      }
    }
    .top-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 100px;
      right: 4%;
      z-index: 9999;
      width: 60px;
      height: 60px;
      background: #555d6c;
      border-radius: 50%;
      box-shadow: 2px 2px 6px #31363e;
      span {
        display: block;
        color: #fff;
        font-size: 12px;
        &::before {
          content: "";
          display: block;
          margin: auto;
          width: 18px;
          height: 14px;
          background: url("../images/arrowup.png") no-repeat center;
          background-size: 100%;
        }
      }
    }
  }
}
