#page-event {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 2000px;
  min-width: 1400px;
  height: 100%;
  .intro-wrap {
    width: 100%;
    height: 784px;
    background: url(../images/another/event_bg.jpg) no-repeat center;
    .intro-contents {
      position: relative;
      margin: 0 auto;
      padding-top: 263px;
      width: 1400px;
      .left-content {
        width: 480px;
        float: left;
        color: #333;
        .type-list {
          display: inline-block;
          padding: 4px 6px;
          border-top: 1px solid #333;
          border-bottom: 1px solid #333;
          font-size: 12px;
          .type-item {
            display: inline-block;
            &:not(:first-child) {
              &:before {
                content: "";
                display: inline-block;
                margin: 0 10px;
                width: 1px;
                height: 12px;
                line-height: 1.5;
                background: #333;
              }
            }
          }
        }
        > img {
          display: block;
          margin-top: 40px;
        }
        .summary {
          margin-top: 32px;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.5;
        }
      }
      .right-content {
        float: right;

        > img {
          display: block;
          position: absolute;
          right: 0;
          top: 148px;
        }
        &::after {
          content: "";
          clear: both;
        }
      }
    }
  }
  .about-design {
    width: 100%;
    display: flex;
    img {
      display: block;
    }
  }
}
